body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  color: #333;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right top, #a0eb44, #1a71e3);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-div {
  background-image: linear-gradient(to right top, #a0eb44, #1a71e3);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.neon-text {
  color: #ffffff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.form-label {
  color: #333;
  font-size: 14px;
  margin-bottom: 5px;
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 8px; /* Decrease the padding for a small-sized input box */
  font-size: 14px; /* Decrease the font size for a small-sized input box */
  width: 70%; /* Set the width to center the input box horizontally */
  margin: 0 auto; /* Center the input box horizontally */
  display: block;
}

.checkbox-label {
  color: #333;
}

.btn {
  background-color: #1a71e3;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px; /* Adjust padding for a professional button appearance */
  cursor: pointer;
}

.btn:hover {
  background-color: #1253a1;
}

.link-text {
  color: #1a71e3;
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 768px) {
  .main-div {
    flex-direction: column;
    height: auto;
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }

  .neon-text {
    font-size: 1.5rem;
  }
}
